@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    background: linear-gradient(90deg, #f7cfa1 0%, #e2e88d 68%);
    font-family: Michroma, serif;
    
}

.nav-link {
    color: rgb(146, 145, 141);
}

.bg-body-tertiary {
    background-color: rgb(241, 210, 142) !important;
}

.sidebar {
    color: rgb(255, 0, 0);
    background: linear-gradient(270deg, #f7cfa1 0%, #e2e88d 68%);
}
.card {
    background: linear-gradient(270deg, #f7cfa1 0%, #e2e88d 68%);
}

.card img {
    height: 400px;
}
.col-lg-1 li {
    list-style: none;
    text-align: center;
    padding-bottom: 50px;
}

.btn-primary {
    --bs-btn-color: #ffffff;
    te
}

.card-body {
    text-align: center;
}
.card a {
    text-decoration: none;
    color: black;
}
.footer-text {
    color: antiquewhite;
    margin: auto;
}
footer {
    background: linear-gradient(56deg, #fc0202 0%, #e2e88d 68%);
}
